langgraph
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
langchain-postgres
psycopg2-binary
fastapi
uvicorn
python-dotenv
pydantic
langchain-text-splitters
langchain-ollama
